:root{
  --washed-white: #faffec;
  --cute-yellow: #fce575;
  --cyan: #69ecf4;
  --light-blue: #4e7fcc;
  --navy: #292f47;
  --pink: #b02656;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

body {
  background: hsl(217, 29%, 15%);
  background-image: conic-gradient(
    from 0deg at 50% 50%, 
    var(--navy),
    var(--cyan),
    var(--cyan),
    var(--navy)
  );
  background-blend-mode: multiply;
  color: var(--washed-white);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  background-color: var(--light-blue);
  padding: 2rem;
  border-radius: 1rem;


  position: relative;

  transform-style: preserve-3d;

  transform: perspective(5000px) rotateX(20deg) rotateY(20deg);  /* Fix transform */
  height: 300px;  /* Add a height to ensure it's visible */
  width: 250px;  /* Optional: add width for better visualization */
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  border-radius: inherit;
}
.card::before{
  inset: 0.75rem;
  background: black;
  transform: translateZ(-49px);
  filter: blur(15px);
  opacity: 0.5;
}

.card::after {
  inset: -1rem;
  background: linear-gradient(-45deg, var(--cyan), var(--navy));
  opacity: 0.6;  /* Adjust opacity for a subtle gradient */
}

