:root{
  --washed-white: #faffec;
  --cute-yellow: #ff9500;
  --cyan: #000000;
  --light-blue: #4e7fcc;
  --navy: #403d58;
  --pink: #b02656;
}

.body{
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide scrollbars */
  background: hsl(202, 13%, 33%);
  background-image: conic-gradient(
    from 0deg at 50% 50%, 
    var(--navy),
    var(--cyan),
    var(--cyan),
    var(--navy)
  );
  background-blend-mode: multiply;
 
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.card {
 
  height: 500px;  
  width: 400px;  

  position: relative;
  transform-style: preserve-3d;

  transform: perspective(5000px) rotateX(-10deg) rotateY(-10deg);  /* Fix transform */
  transition: 3s ease-in-out;
 
  inset: -1rem;
  background: linear-gradient(180deg, var(--cyan), var(--navy));
  
  border-radius: 5rem;
  border-style: solid;
  border-color: #fce575;
  
  

}
.card:hover{
  transform-style: preserve-3d;

  transform: perspective(5000px) rotateX(10deg) rotateY(10deg);  /* Fix transform */
  transition: 3s ease-in-out;
  scale: 105%;
  display:block;

}

h2{
  margin: 0;
  padding: 2rem;
  transform: translateY(10px) ;
  text-align: center;
  font-family: sans-serif;
  font-size: 2rem;;
  word-wrap: break-word;
  overflow: break-word;
  color: var(--cute-yellow);
  text-shadow: 0px 0px 30px #ddff00;
}