@function font-url($weight) {
	@return './lib/resources/fonts/Tajawal-' + $weight + '.ttf';
}

@each $weight,
	$value in (Light: 300, Regular: 400, Medium: 500, Bold: bold, ExtraBold: 800, ExtraLight: 200)
{
	@font-face {
		font-family: 'Tajawal';
		src: url(font-url($weight));
		font-weight: $value;
	}
}

@font-face {
	font-family: 'Quantico-bold';
	src: url('../src/lib/resources/fonts/Quantico-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'Quantico-regular';
	src: url('../src/lib/resources/fonts/Quantico-Regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'Lobster';
	src: url('../src/lib/resources/fonts/Lobster-Regular.ttf');
	font-weight: 300;
}

* {
	font-family: 'Tajawal', sans-serif;
	font-weight: 400;
	padding: 0;
	margin: 0;
}

/* Additional styling */

.underlined-text {
	color: inherit;
	text-decoration: none;
	display: block;
	position: relative;
	padding: 0.2em 0;
	--underline-color: #ffa494; // Default color
}

/* Fade in */
.underlined-text::after {
	content: '';
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: var(--underline-color);
	opacity: 0;
	transition:
		opacity 300ms,
		transform 300ms;
}

.underlined-text:hover::after,
.underlined-text:focus::after {
	opacity: 1;
	transform: translate3d(0, 0.2em, 0);
}

/* Scale from center */
.middle-scale-und::after {
	opacity: 1;
	transform: scale(0);
	transform-origin: center;
}

.middle-scale-und:hover::after,
.middle-scale-und:focus::after {
	transform: scale(1);
}

.container {
	display: inline-block;
}
.typed-out {
	overflow: hidden;
	border-right: 0.15em solid orange;
	white-space: nowrap;
	--cursorBarStyle: solid;
	border-right-style: var(--cursorBarStyle);
	animation:
		typing 1s steps(20, end) forwards,
		blinking 0.8s infinite;
	font-size: 1.6rem;
	width: 0;
}
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes untyping {
	from {
		width: 100%;
	}
	to {
		width: 0;
	}
}

@keyframes blinking {
	from {
		border-color: transparent;
	}
	to {
		border-color: orange;
	}
}

.neonText {
	transform: translate3d(0, 0, 0);
	color: #fff;
	--neonStart-color: #ffa494; // Default color
	--neonEnd-color: #ffa494; // Default color
}

@keyframes flicker {
	0%,
	18%,
	22%,
	25%,
	53%,
	57%,
	100% {
		text-shadow:
			0 0 2px var(--neonStart-color),
			0 0 5.5px var(--neonStart-color),
			0 0 9.5px var(--neonStart-color),
			0 0 20px var(--neonEnd-color),
			0 0 40px var(--neonEnd-color),
			0 0 45px var(--neonEnd-color),
			0 0 50px var(--neonEnd-color),
			0 0 75px var(--neonEnd-color);
	}

	20%,
	24%,
	55% {
		text-shadow: none;
	}
}

.flicker {
	text-shadow: none;
	animation: flicker 3s infinite alternate;
}

.no-flicker {
	text-shadow:
		0 0 1px var(--neonStart-color),
		0 0 2.75px var(--neonStart-color),
		0 0 4.75px var(--neonStart-color),
		0 0 10px var(--neonEnd-color),
		0 0 20px var(--neonEnd-color),
		0 0 22.5px var(--neonEnd-color),
		0 0 25px var(--neonEnd-color),
		0 0 37.5px var(--neonEnd-color);
}

.click_animation-expand {
	position: relative;
	background-color: black;
	border-radius: 4em;
	font-size: 16px;
	color: white;
	padding: 0.8em 1.8em;
	cursor: pointer;
	user-select: none;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s; /* Safari */
}

.click_animation-expand:hover {
	transition-duration: 0.1s;
	background-color: #3a3a3a;
}

.click_animation-expand:after {
	content: '';
	display: block;
	position: absolute;
	border-radius: 10px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.5s;
	box-shadow: 0 0 10px 10px white;
}

.click_animation-expand:active:after {
	box-shadow: 0 0 0 0 white;
	position: absolute;
	border-radius: 10px;
	left: 0;
	top: 0;
	opacity: 1;
	transition: 0s;
}

.click_animation-expand:active {
	top: 1px;
}
