@function font-url($weight) {
	@return './lib/resources/fonts/Tajawal-' + $weight + '.ttf';
}

@each $weight,
	$value in
		(Light: 300, Regular: 400, Medium: 500, Bold: bold, Black: 900, ExtraBold: 800, ExtraLight: 200) {
	@font-face {
		font-family: 'Tajawal';
		src: url(font-url($weight));
		font-weight: $value;
	}
}

@font-face {
	font-family: 'Quantico-bold';
	src: url('../src/lib/resources/fonts/Quantico-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'Quantico-regular';
	src: url('../src/lib/resources/fonts/Quantico-Regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'Lobster';
	src: url('../src/lib/resources/fonts/Lobster-Regular.ttf');
	font-weight: 300;
}

* {
	font-family: 'Tajawal', sans-serif;
	font-weight: 400;
	padding: 0;
	margin: 0;
}
