@function font-url($weight) {
	@return './lib/resources/fonts/Tajawal-' + $weight + '.ttf';
}

@each $weight,
	$value
		in (
			Light: 300,
			Regular: 400,
			Medium: 500,
			Bold: bold,
			ExtraBold: 800,
			ExtraLight: 200
		)
{
	@font-face {
		font-family: 'Tajawal';
		src: url(font-url($weight));
		font-weight: $value;
	}
}

@font-face {
	font-family: 'Quantico-bold';
	src: url('../src/lib/resources/fonts/Quantico-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'Quantico-regular';
	src: url('../src/lib/resources/fonts/Quantico-Regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'Lobster';
	src: url('../src/lib/resources/fonts/Lobster-Regular.ttf');
	font-weight: 300;
}

* {
	font-family: 'Tajawal', sans-serif;
	font-weight: 400;
	padding: 0;
	margin: 0;
}
.underlined-text {
	color: inherit;
	text-decoration: none;
	display: block;
	position: relative;
	padding: 0.2em 0;
	--underline-color: #ffa494; // Default color
}

/* Fade in */
.underlined-text::after {
	content: '';
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: var(--underline-color);
	opacity: 0;
	transition:
		opacity 300ms,
		transform 300ms;
}

.underlined-text:hover::after,
.underlined-text:focus::after {
	opacity: 1;
	transform: translate3d(0, 0.2em, 0);
}

/* Scale from center */
.middle-scale-und::after {
	opacity: 1;
	transform: scale(0);
	transform-origin: center;
}

.middle-scale-und:hover::after,
.middle-scale-und:focus::after {
	transform: scale(1);
}

.container {
	display: inline-block;
}
.typed-out {
	overflow: hidden;
	border-right: 0.15em solid orange;
	white-space: nowrap;
	animation:
		typing 1s steps(20, end) forwards,
		blinking 0.8s infinite;
	font-size: 1.6rem;
	width: 0;
}
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes untyping {
	from {
		width: 100%;
	}
	to {
		width: 0;
	}
}

@keyframes blinking {
	from {
		border-color: transparent;
	}
	to {
		border-color: orange;
	}
}
